body {
  font-family: 'Work Sans', sans-serif;
  --bs-primary: #1c3dca;
  --bs-primary-rgb: 28,61,202;
  --bs-info: #02aaff;
  --bs-info-rgb: 2,170,255;
  --bs-dark: #121416;
  --bs-dark-rgb: 18,20,22;
  --bs-body-color: var(--bs-gray-100);
  --bs-body-bg: var(--bs-dark);
  --bs-body-font-weight: 300;
}

.container {
  height: 100%;
  max-width: 960px;
}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-dark);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-primary);
  border-radius: 1em;
}

.gallery {
  --bs-gutter-y: 1.5rem;
}

.crops {
  --bs-gutter-y: 1.5rem;
}

.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url('../../assets/img/Crop%201.jpeg');
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 300px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 520px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}

@media (min-width: 300px) {
  .picture {
    width: 320px;
    height: 320px;
    overflow: hidden;
  }
}

.picture {
  width: 520px;
  height: 520px;
  overflow: hidden;
}

.picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}

.detail h3 {
  margin: 0;
  font-size: 20px;
  color: #000;
}

.detail span {
  display: block;
  font-size: 16px;
  color: #f44336;
}

